<section class="vh-100 gradient-custom">
    <div class = "p10">
    <a routerLink="/register">
        <button  class = "btn btn-warning">  
            Go Back
        </button>
    </a>   
</div>

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form>
                        <div class = "mt-10">
                            <table class="table table-hover">
                                <thead>
                                  <tr>                                    
                                    <th scope="col">Pet Name</th>
                                    <th scope="col">Pet Time</th>
                                    <th scope="col">Owner First Name</th>
                                    <th scope="col">Owner Last Name</th>
                                    <th scope="col">Owner Email</th>
                                    <th scope="col">Owner Phone Number</th>
                                    <th scope="col">Visit Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let visit of visits | async; index as idx">
                                    <td>{{visit.petName}}</td>
                                    <td>{{visit.petType}}</td>
                                    <td>{{visit.ownerEmail}}</td>
                                    <td>{{visit.ownerFirstName}}</td>
                                    <td>{{visit.ownerLastName}}</td>
                                    <td>{{visit.ownerPhoneNumber}}</td>
                                    <td>{{visit.visitDetails}}</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                        </div>   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
    